export APP_ROOT=$(pwd)

export DOCKER_WRAPPER_IMAGE_ruby=2.6.1-stretch
export DOCKER_WRAPPER_SERVER_OPTS_rubyserver="-p ${LABO_PORT_PREFIX}81:4567"
export DOCKER_WRAPPER_APP_TARGET=rubyserver

export BUNDLE_PATH=$APP_ROOT/vendor/bundle
